<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.ApiDistrabutorMapper">
    <resultMap type="com.platform.entity.DistributorVo" id="distrabutorMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="image" column="image"/>
        <result property="address" column="address"/>
        <result property="parentId" column="parent_id"/>
        <result property="createTime" column="create_time"/>
        <result property="state" column="state"/>
        <result property="money" column="money"/>
    </resultMap>

    <sql id="sqlContent">
        id,name,description,image,address,parent_id,create_time,state
    </sql>

    <select id="queryObject" resultMap="distrabutorMap">
        select <include refid="sqlContent"/> from specific_distributors
        <where>
            id=#{value}
        </where>
    </select>

    <select id="queryByParentId" resultMap="distrabutorMap">
        select <include refid="sqlContent"/> from specific_distributors
        <where>
            parent_id=#{parentId}
        </where>
    </select>


    <select id="queryBannerTotal" parameterType="integer" resultType="map">
        select
            (select count(distinct user_id) from nideshop_order) as fansNum,
            (select count(order_sn) from nideshop_order where pay_status=2) as buyNum
        from nideshop_order where distrabutor_id=#{distrabutorId}
    </select>

    <insert id="save" parameterType="com.platform.entity.DistributorVo">
        insert into specific_distributors(name,description,image,address,parent_id,create_time,state, money)
        values(#{name}, #{description}, #{image}, #{address}, #{parentId},#{createTime},#{state}, #{money})
    </insert>

    <update id="update" parameterType="com.platform.entity.DistributorVo">
        update specific_distributors set id=#{id}
        <if test="name!=null and name.trim()!=''">
        ,name=#{name}
    </if>
        <if test="description!=null and description.trim()!=''">
            ,description=#{description}
        </if>
        <if test="image!=null and image.trim()!=''">
            ,image=#{image}
        </if>
        <if test="address!=null and address.trim()!=''">
            ,address=#{address}
        </if>
        <if test="parentId!=null">
            ,parent_id=#{parentId}
        </if>
        <if test="createTime!=null">
            ,create_time=#{createTime}
        </if>
        <if test="state!=null">
            ,state=#{state}
        </if>
        <if test="money!=null">
            ,money=#{money}
        </if>
        <where>
            id=#{id}
        </where>
    </update>

    <select id="queryList" parameterType="hashmap" resultMap="distrabutorMap">
        select
            <include refid="sqlContent"></include>
        from specific_distributors
        <where>
            1=1
            <if test="id!=null and id!=''">
                and id=#{id}
            </if>
            <if test="name!=null and name.trim()!=''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="description!=null and description.trim()!=''">
                and description=#{description}
            </if>
            <if test="image!=null and image.trim()!=''">
                and image=#{image}
            </if>
            <if test="address!=null and address.trim()!=''">
                and address=#{address}
            </if>
            <if test="parentId!=null">
                and parent_id=#{parentId}
            </if>
            <if test="createTime!=null">
                and create_time=#{createTime}
            </if>
            <if test="state!=null">
                and state=#{state}
            </if>
        </where>
    </select>
</mapper>